.about {
  padding: 0;
  color: var(--dark-bg);
  background: var(--light-bg);
  height: auto;
}

.about>.textArea {
  display: flex;
  gap: 4rem;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.about>.textArea>img {
  height: 25rem;
  width: 25rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 1rem 1rem rgba(160, 158, 158, 0.397);
  flex-shrink: 0;
}

.about .text {
  width: 100%;
  flex: 1;
}

.text p {
  font-size: 2rem;
  font-weight: 400;
  text-align: justify;
  line-height: 1.8;
}

.text>p>span {
  font-weight: 900;
}

@media (max-width: 1200px) {
  .about>.textArea {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .about>.textArea>img {
    height: 22rem;
    width: 22rem;
  }

  .text p {
    font-size: 1.8rem;
  }
}

@media (max-width: 700px) {
  .about {
    align-items: center;
    justify-content: center;
  }

  .about>.textArea {
    margin: 0;
    gap: 2rem;
  }

  .about>.textArea>img {
    height: 18rem;
    width: 18rem;
  }

  .text>p {
    font-size: 1.5rem;
    line-height: 1.6;
  }

  .text span {
    font-weight: 900;
    font-size: 1.6rem;
  }
}

@media (max-width: 500px) {
  .about>.textArea>img {
    height: 15rem;
    width: 15rem;
  }

  .text>p {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .text span {
    font-weight: 900;
    font-size: 1.3rem;
  }
}