.about {
    padding: 6rem 2rem 6rem 2rem;
    /* height: 60vh; */
    color: black;
    background: linear-gradient(rgb(20, 13, 44), rgba(5, 79, 94, 1), rgb(16, 1, 22));
    background-blend-mode: multiply, normal, normal;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}

.about>* {
    color: white;
}

.about>.textArea {
    display: flex;
    gap: 2rem;
    align-items: flex-start;

}


.about>.textArea>img {
    height: 20rem;
    border-radius: 50%;
    transform: rotate(-30deg);
}

.text>div {
    margin-bottom: 1rem;
    text-align: left;
}

.text>div>span {
    color: orange;
}

.text div:first-child {
    font-size: 1.3rem;
    font-weight: 500;
}

@media (max-width:1200px) {
    .textArea {
        flex-direction: column;
    }
}

@media (max-width:700px) {
    .about {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:320px) {}