.backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--backdrop);
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}


@media (max-width:700px) {
    .backdrop {
        height: auto;
        overflow: scroll;
    }

}