.home {
    background: var(--light-bg);
    min-height: 60vh;
    padding: 8rem 4rem 0rem 4rem;
    /* box-sizing: content-box; */
}

.home * {
    color: var(--dark-bg);
}

.topic h1 {
    line-height: 8rem;
    font-weight: 900;
    font-size: 8rem;
    color: var(--dark-bg);

}

.topic p {
    font-size: 2.5rem;
}

.menu {
    margin-top: 4rem;
    width: -moz-fit-content;
    width: fit-content;
}

.menu>* {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin: .5rem;
}

.menu>*>h1 {
    font-size: 1.8rem;
    display: flex;

}

.menu>*>.dot {
    visibility: hidden;
    width: 0;
    opacity: 0;
    /* display: none; */
    transition: all .3s ease-in;
    background: var(--dark-bg);
    border-radius: 50%;
    margin-right: 0;
    height: .7rem;
}

.menu>*:hover .dot {
    visibility: visible;
    width: .7rem;
    opacity: 1;
    margin-right: 1rem;
    /* display: block; */

}

.menu>*:hover h1 {
    color: var(--lessdark-bg);

}

.menu>*:hover .dot {
    background: var(--lessdark-bg);
}

.more-icon {
    margin-left: .5rem;
    font-size: 1.5rem;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width:1200px) {

    .home {
        /* min-height: auto; */
        padding: 6rem 1rem 0 1rem !important;
    }


}

@media (max-width:1000px) {}

@media (max-width:700px) {

    .home {
        padding: 6rem 1rem 0 1rem !important;
    }

    .topic h1 {
        font-size: 6rem;
        line-height: 6rem;
    }

    .topic p {
        font-size: 1.5rem;
    }




}

@media (max-width:500px) {
    .topic h1 {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .menu {
        margin-top: 2rem;
        width: 100%;
    }

    .menu>* {
        margin: .5rem 0rem;
    }

    .menu>*>h1 {
        font-size: 1.4rem;
    }
}