.nav {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: .5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    height: auto;
    width: 98%;
    padding: 0 !important;
    gap: .5rem;
}

.nav .more {
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    height: 50vh;
    width: 100%;
}

.nav .more-info {
    background: #f8f8f8;
    border-radius: var(--border-radius);
    height: 4rem;
    padding: 0.3rem 2rem;
    width: 100%;
}


/* CLOSE NAV */
.nav.close {
    border-radius: 0;
    top: 0;
    right: 0;
    left: 0;
    background: transparent;
    width: 100%;
    height: 4rem;
    flex-direction: row;
    transform: none;
    padding: 0 2rem !important;
}

.nav.close>div {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.icon {
    cursor: pointer;
    font-size: 2rem;
}

.header {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2rem;
}


.name {
    font-size: 1.5rem;
    font-weight: 500;
}

.name>span {
    color: #dfcaa3;
}


/* OPEN NAV */
.nav>.more>.open {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.nav>.more * {
    color: var(--primary-color);
}

.nav li {
    padding: 0 .5rem 1rem .5rem;
    display: flex;
    align-items: flex-end;
}

.nav li:last-child {
    margin-right: 0;
    border-right: 1px solid var(--primary-color);

}

.nav li {

    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    height: 100%;
    border-left: 1px solid var(--primary-color);
    padding: 1rem 2rem;
}

.nav li>div {
    position: relative;
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.nav li>div>* {
    transition: ease-in 1s;
    margin: 0;
    font-weight: 300;
}

.nav li>div:hover p {
    animation-name: move-up-and-back;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.nav li>div>.link-icon {
    size: 50rem;
}

.nav li>div:hover .link-icon {
    animation-name: move-up-and-back;
    animation-duration: .5s;
}

@keyframes move-up-and-back {
    0% {
        opacity: 1;
    }

    50% {
        top: 0;
        transform: translate(0%, -40%);
        opacity: 0;
    }

    51% {
        transform: translate(0%, 40%);
        display: block;
        bottom: 0;
        opacity: 0;
    }

    100% {

        transform: translate(0%, -10%);
        transform: none;
        opacity: 1;
        bottom: auto;
        color: red;
    }
}


@media (max-width:950px) {


    .nav .more {
        height: 60vh;
        align-items: baseline;

    }


    .nav .more>.open {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }


    .nav li {


        border-left: 1px solid var(--primary-color);
        border-bottom: 1px solid var(--primary-color);
    }

}

@media (max-width:700px) {
    .nav.close {
        padding: 0 .8rem !important;
    }

    .nav.close h1 {
        font-size: 1rem;
    }


    .nav .more {
        height: auto;

    }

    .nav .more>.open {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        height: auto;
    }

    .header {
        position: static;
    }
}