.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 101;
    height: 4rem;
    width: 100%;
    padding: 0 !important;
    gap: .5rem;
}

.name {
    background-color: var(--dark-bg);
    color: var(--light-bg);
    font-size: 1.3rem;
    height: 2.5rem;
    width: 2.3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* CLOSE NAV */
.nav.close {
    background: var(--light-bg);
    height: 4rem;
    flex-direction: row;
    padding: 0 2rem !important;
}

.close-menu {
    display: flex;
    align-items: center;
}

.close-menu div {
    display: flex;
    gap: .5em;
    align-items: center;
    list-style: none;

}

.nav-icons>* {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    color: var(--dark-bg);
    cursor: pointer;
    font-weight: 300
}

.more-icon {
    display: none;
}

.close-icon,
.more-icon {
    font-size: 2rem;
    cursor: pointer;
}

.nav-icons .mode-icons>* {
    font-size: 1.8rem;
}

.nav li {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-bg);
    cursor: pointer;
    gap: .25rem;
}

.nav li>* {
    transition: ease-in 1s;
    margin: 0;
    font-weight: 300;
}

.nav li:hover p {
    animation-name: move-up-and-back;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.nav li>div:hover .link-icon {
    animation-name: move-up-and-back;
    animation-duration: .5s;
}

@keyframes move-up-and-back {
    0% {
        opacity: 1;
    }

    50% {
        top: 0;
        transform: translate(0%, -40%);
        opacity: 0;
    }

    51% {
        transform: translate(0%, 40%);
        display: block;
        bottom: 0;
        opacity: 0;
    }

    100% {

        transform: translate(0%, -10%);
        transform: none;
        opacity: 1;
        bottom: auto;
        color: var(--accent-color);
    }
}


@media (max-width:950px) {}

@media (max-width:700px) {

    .nav {
        height: auto;
        border-bottom: 1px solid var(--dark-bg);
    }

    .nav .open>* {
        display: flex;
        align-items: center;

    }

    .nav .open>.nav-entities {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .nav .open>.logo {
        justify-content: space-between;
        height: 4rem;
        padding: 0 1rem;

    }


    .nav .open>.nav-entities li {
        border-top: 1px solid var(--dark-bg);
        width: 100%;
    }

    .nav.close .close-menu .close-nav {
        display: none;
    }

    .nav>.open {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 100%;
        width: 100%;
        background: var(--nav-bg);
    }

    .nav-icons .more-icon {
        font-size: 1.7rem;
        display: block;
    }


    .nav>.open * {
        color: var(--dark-bg);
    }


    .nav.close {
        padding: 0 1rem !important;
    }

    .name {
        font-size: 1rem;
    }

    .nav .more-info {
        background: var(--nav-bg);
        height: 4rem;
        padding: 0rem 1rem;
        width: 100%;
    }

    .nav .more-info>div {
        padding: 0;
        border: none;
        width: 100%;
        justify-content: space-between;
    }

    .nav .more-info>div>a {
        padding: 0;
        margin: 0;

    }

}