.navlinks {

    border: 1.5px solid var(--dark-bg);
    display: flex;
    height: 4rem;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.5rem 0rem 0.5rem 1.5rem;
    align-items: center;
    justify-content: center;

}

.navlinks>a {
    display: grid;
    place-items: center;
}

.navlinks>a>* {
    font-weight: 300;
    font-size: 1.6rem;
    fill: var(--dark-bg);
    color: var(--dark-bg);
}

.navlinks>* {
    margin-right: 1.5rem;
    color: var(--light-bg);
    font-weight: 100;
    cursor: pointer;
}

.navlinks>a>*:hover {
    fill: var(--lessdark-bg);
    color: var(--lessdark-bg);
    transform: scale(1.3);
    transition: all 0.2s linear;
}


@media (max-width:700px) {
    .navlinks>a>*:hover {
        transform: none;
    }
}


@media (max-width:500px) {
    .navlinks {
        width: 100%;
        border: none;
        border-top: 1px solid var(--dark-bg);
        padding: 0.5rem 0rem;
        justify-content: space-between;

    }

    .navlinks>a>* {
        font-size: 1.4rem;
    }

    .navlinks>* {
        margin: 0;
    }


}