.project {
    position: relative;
    height: auto;
    width: 100%;
    border-bottom: .5px solid var(--lessdark-bg);
    cursor: pointer;
    color: var(--dark-bg);
    padding-top: 3rem;
}

.project .project-child {
    display: flex;
    width: 100%;
    height: auto;
    align-items: baseline;
    justify-content: space-between;
}

.project:active .project-child * {
    color: var(--lessdark-bg);
}

.project .project-child .project-name {
    font-weight: 300;
    font-size: 3rem;
}

.project .project-child .project-stack {
    font-weight: 100;
    font-size: 1.5rem;
}

.project .project-child .project-date {
    font-size: 3rem;
}

.project-child .img {

    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    transform: perspective(100px) rotateX(0.5deg) rotateY(-0.5deg) scale(1);
    visibility: hidden;
    width: 0;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.project:hover .project-child .img {
    visibility: visible;
    opacity: 1;
    width: 50%;

}


@media (max-width:1200px) {
    .project .project-child .project-name {
        font-weight: 300;
        font-size: 2.5rem;
    }

    .project .project-child .project-stack {
        font-weight: 100;
        font-size: 1.3rem;
    }

    .project .project-child .project-date {
        font-size: 2rem;
    }
}

@media (max-width:800px) {
    .project {
        padding: 0;
        pointer-events: none;
        margin-bottom: 1.5rem;
        border: none;

    }

    .project .project-child {
        padding: 0;

    }

    .project-child .img {
        position: static;
        width: 100%;
        opacity: 1;
        visibility: visible;
        transform: none;
        border-radius: 0 0 8px 8px;
    }

    .project .project-child .project-name-section {
        position: absolute;
        height: 6rem;
        background: var(--dark-bg);
        bottom: 0;
        right: 0;
        left: 0;
        padding: .5rem 1rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
        border-radius: 0 0 8px 8px;
    }

    .project .project-child .project-date {
        position: absolute;
        top: 0rem;
        right: 1rem;
        padding: .5rem;
        color: var(--light-bg);
        font-weight: 900;
        background-color: var(--dark-bg);
        border-radius: 0 0 8px 8px;
    }

    .project .project-child div>* {
        color: var(--light-bg);
    }

    .project .project-child .project-name {
        font-size: 2rem;
        font-weight: 900;
    }

    .project .project-child .project-stack {
        font-size: 1.1rem;
        font-weight: 300;
    }

    .project .project-child .project-date {
        font-size: 2rem;
    }

}

@media (max-width:500px) {

    .project {
        padding-top: 0rem;
    }

    .project .project-child .project-name-section {

        height: 4rem;

    }

    .project .project-child .project-name {
        font-size: 1.1rem;
    }

    .project .project-child .project-stack {
        font-size: 0.8rem;
    }

    .project .project-child .project-date {
        font-size: 1rem;
    }
}