.projects {
    padding: 5rem 4rem 0rem 4rem;
    height: auto;
}

.projects .projects-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

.projects .projects-header span {
    font-size: 1.5rem;
}

.projects .see-more-projects {
    padding-top: 1.5rem;
}

.projects .see-more-projects h2 {
    text-decoration: none;
}

.projects .see-more-projects p {
    font-size: 1.5rem;
}

@media (max-width:1200px) {}

@media (max-width:700px) {
    .projects {
        padding: 5rem 1rem 0rem 1rem;
    }

    .projects .projects-header span {
        font-size: 1rem;
        text-align: center;

    }

    .projects .see-more-projects h2 {
        font-size: 1.5rem;
    }

    .projects .see-more-projects p {
        font-size: 1.3rem;
    }

}

@media (max-width:500px) {
    .projects .projects-header span {
        font-size: 1rem;
        text-align: center;

    }

    .projects .see-more-projects h2 {
        font-size: 1.1rem;
    }

    .projects .see-more-projects p {
        font-size: 1rem;
    }
}