.projects {
    padding: 0rem 4rem 4rem 4rem;
    height: auto;
}

.projects .projects-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

.projects .projects-header p {
    font-size: 1.5rem;
}

.projects .see-more-projects {
    padding-top: 1.5rem;
}

.projects .see-more-projects h2 {
    text-decoration: none;
}

.projects .see-more-projects p {
    font-size: 1.5rem;
}