.projects {
    padding: 6rem 4rem 0rem 4rem;
    height: auto;
}

.projects .projects-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

.projects .projects-header span {
    font-size: 1.5rem;
}

.projects .see-more-projects {
    padding-top: 1.2rem;
}

.projects .see-more-projects h2 {
    text-decoration: none;
}

.projects .see-more-projects p,
.projects .see-more-projects>p>a {
    font-size: 1.5rem;
    color: var(--dark-bg);

}

.projects .see-more-projects p a {
    margin-left: .3rem;
    font-weight: 900;
}

@media (max-width:700px) {
    .projects {
        padding: 4rem 1rem 0rem 1rem;
    }

    .projects .projects-header span {
        font-size: 1rem;
        text-align: center;

    }

    .projects .see-more-projects {
        padding-top: .5rem;
    }

    .projects .see-more-projects h2 {
        font-size: 1.3rem;
    }

    .projects .see-more-projects p,
    .projects .see-more-projects>p>a {
        font-size: 1.3rem;
    }

    .projects .see-more-projects p a {
        margin-left: 0rem;
    }

}

@media (max-width:500px) {
    .projects .projects-header span {
        font-size: 1rem;
        text-align: center;

    }

    .projects .see-more-projects {
        padding-top: .2rem;
    }

    .projects .see-more-projects h2 {
        font-size: 1.1rem;
    }

    .projects .see-more-projects p,
    .projects .see-more-projects p>a {
        font-size: 1.1rem;
    }
}