.specialtys {
    padding: 0;
}

.specialtys .specialtys-body {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
}

.specialtys .specialtys-body .specialty {
    border: 1px solid var(--dark-bg);
    flex: 1;
    padding: 2rem;
    height: auto;

}

.specialtys .specialtys-body .specialty .topic {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.specialtys .specialtys-body .specialty .details {
    font-weight: 900;
}

.specialty .topic span {
    font-size: 3rem;
    fill: var(--dark-bg);
    display: inline-grid;
}

.specialty .details h1 {
    margin-top: .4rem;
    font-size: 2rem;
    line-height: 2rem;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
}

.specialty .details .name div {
    height: .6rem;
    width: 100%;
    bottom: 0;
    background: var(--accent-color1);
    position: absolute;
    z-index: -1;
}

.specialty .details .name div.orange {
    background-color: var(--accent-color2);
}

.specialty>p {
    border-left: 1px solid var(--dark-bg);
    margin: 1.5rem;
    padding: 1.5rem;
    font-weight: 500;
    font-size: 1.2rem;
}

@media (max-width:1000px) {
    .specialtys .specialtys-body {
        flex-direction: column;
    }

    .specialtys .specialtys-body .specialty {
        padding: 1rem;
        width: 100%;
        margin-bottom: 1rem;
    }

    .specialtys .specialtys-body .specialty:last-child {
        margin-bottom: 0;
    }

    .specialty .details h1 {
        font-size: 1.7rem;
        line-height: 1.5rem;
    }

    .specialty .topic span {
        font-size: 2.5rem;
    }

    .specialty>p {
        margin: 1.25rem;
        padding: 1.25rem;
        font-size: 1rem;
    }

}

@media (max-width:700px) {
    .specialtys .specialtys-body {
        flex-direction: column;
        gap: 0;
    }

    .specialtys .specialtys-body .specialty {
        width: 100%;
        margin-bottom: 1.5rem;
        padding: 1.5rem 1rem;
    }

    .specialtys .specialtys-body .specialty:last-child {
        margin-bottom: 0;
    }

    .specialty .details h1 {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    .specialty .topic span {
        font-size: 2rem;
    }

    .specialty>p {
        margin: 1rem 0.5rem;
        padding: 1rem;
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
}