.topic {
    display: inline;
    border-radius: 4px;
    padding: 0.5rem;
    font-weight: 900;
    font-size: 2.4rem;
    color: var(--lessdark-bg);
    border-bottom: .5px solid var(--lessdark-bg);
}

@media (max-width:800px) {
    .topic {
        font-size: 1.7rem;
        margin: 0;
        padding: 0;
    }
}

@media (max-width:500px) {
    .topic {
        font-size: 1.5rem;
    }
}