.topic {
    display: inline;
    border-radius: 4px;
    font-weight: 900;
    font-size: 5rem;
    color: var(--lessdark-bg);
}

@media (max-width:800px) {
    .topic {
        font-size: 3rem;
        margin: 0;
        padding: 0;
    }


}

@media (max-width:500px) {
    .topic {
        font-size: 2rem;
    }
}