@import "tailwindcss";

@theme {
  --color-dark-bg: var(--dark-bg);
  --color-light-bg: var(--light-bg);
  --color-lessdark-bg: var(--lessdark-bg);
  --color-backdrop: var(--backdrop);
  --color-accent-1: var(--accent-color1);
  --color-accent-2: var(--accent-color2);
  --color-nav-bg: var(--nav-bg);
  --radius-border: 15px;
}

.hamburger-mobile {
  display: none;
}

@media (max-width: 700px) {
  .hamburger-mobile {
    display: block;
  }
}

@font-face {
  font-family: "PP Mori";
  font-weight: 100;
  src: url("./assets/fonts/ppmori-extralight-webfont.woff2") format("woff2"),
    url("./assets/fonts/ppmori-extralight-webfont.woff") format("woff");
}

@font-face {
  font-family: "PP Mori";
  font-weight: 100;
  font-style: italic;
  src: url("./assets/fonts/ppmori-extralightitalic-webfont.woff2") format("woff2"),
    url("./assets/fonts/ppmori-extralightitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "PP Mori";
  font-weight: 300;
  src: url("./assets/fonts/ppmori-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/ppmori-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "PP Mori";
  font-weight: 300;
  font-style: italic;
  src: url("./assets/fonts/ppmori-regularitalicr-webfont.woff2") format("woff2"),
    url("./assets/fonts/ppmori-regularitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "PP Mori";
  font-weight: 900;
  src: url("./assets/fonts/ppmori-semibold-webfont.woff2") format("woff2"),
    url("./assets/fonts/ppmori-semibold-webfont.woff") format("woff");
}

@font-face {
  font-family: "PP Mori";
  font-weight: 900;
  font-style: italic;
  src: url("./assets/fonts/ppmori-semibolditalic-webfont.woff2") format("woff2"),
    url("./assets/fonts/ppmori-semibolditalic-webfont.woff") format("woff");
}

html::-webkit-scrollbar {
  width: 0.8rem;
  color: var(--color-light-bg);
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--color-dark-bg);
  border-radius: 0.3rem;
}

:root {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  --dark-bg: #000000;
  --light-bg: #e5e5e5;
  --lessdark-bg: #3d3d3d;
  --backdrop: #000000ec;
  --accent-color1: #e96928;
  --accent-color2: #6cd8ec;
  --nav-bg: #f8f8f8;
  --footer-bg: #000000;
  --footer-text: #e5e5e5;
  text-rendering: optimizeLegibility;
  background-color: var(--light-bg);
  color: var(--dark-bg);
}

:root.dark {
  --dark-bg: #e5e5e5;
  --light-bg: #111414;
  --lessdark-bg: #b8b7b7;
  --accent-color: #6cd8ec;
  --nav-bg: #525151;
  --footer-bg: #111414;
  --footer-text: #e5e5e5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root>*:not(:last-child) {
  padding-inline: 9rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--lessdark-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media (max-width: 1200px) {
  #root>*:not(:last-child) {
    padding-inline: 2rem;
  }
}

@media (max-width: 700px) {
  #root>*:not(:last-child) {
    padding-inline: 1rem;
  }
}

@keyframes showMoreBtn {
  0% {
    bottom: -2rem;
  }

  50% {
    bottom: 0rem;
  }

  100% {
    bottom: 2rem;
  }
}

@keyframes move-up-and-back {
  0% {
    opacity: 1;
  }

  50% {
    top: 0;
    transform: translate(0%, -40%);
    opacity: 0;
  }

  51% {
    transform: translate(0%, 40%);
    display: block;
    bottom: 0;
    opacity: 0;
  }

  100% {
    transform: translate(0%, -10%);
    transform: none;
    opacity: 1;
    bottom: auto;
    color: var(--accent-color);
  }
}