@font-face {
  font-family: "PP Mori";
  font-weight: 100;
  src: url('./assets/fonts/ppmori-extralight-webfont.woff2') format('woff2'),
    url('./assets/fonts/ppmori-extralight-webfont.woff') format('woff')
}

@font-face {
  font-family: "PP Mori";
  font-weight: 100;
  font-style: italic;
  src: url('./assets/fonts/ppmori-extralightitalic-webfont.woff2') format('woff2'),
    url('./assets/fonts/ppmori-extralightitalic-webfont.woff') format('woff')
}

@font-face {
  font-family: "PP Mori";
  font-weight: 300;
  src: url('./assets/fonts/ppmori-regular-webfont.woff2') format('woff2'),
    url('./assets/fonts/ppmori-regular-webfont.woff') format('woff')
}

@font-face {
  font-family: "PP Mori";
  font-weight: 300;
  font-style: italic;
  src: url('./assets/fonts/ppmori-regularitalicr-webfont.woff2') format('woff2'),
    url('./assets/fonts/ppmori-regularitalic-webfont.woff') format('woff')
}

@font-face {
  font-family: "PP Mori";
  font-weight: 900;
  src: url('./assets/fonts/ppmori-semibold-webfont.woff2') format('woff2'),
    url('./assets/fonts/ppmori-semibold-webfont.woff') format('woff')
}

@font-face {
  font-family: "PP Mori";
  font-weight: 900;
  font-style: italic;
  src: url('./assets/fonts/ppmori-semibolditalic-webfont.woff2') format('woff2'),
    url('./assets/fonts/ppmori-semibolditalic-webfont.woff') format('woff')
}




:root {
  font-family: 'PP Mori', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  --border-radius: 15px;
  --dark-bg: #3d3d3d;
  --light-bg: #e5e5e5;
  --lessdark-bg: #646464;
  --backdrop: #000000de;
  --nav-bg: #f8f8f8;
  text-rendering: optimizeLegibility;
}

:root.dark {
  --dark-bg: #e5e5e5;
  --light-bg: #3d3d3d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--lessdark-bg)
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}