:root {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  --border-radius: 15px;
  --white-bg: #fff;
  --light-bg: #f8f8f8;
  --primary-color: #191426;
  --secondary-color: #dfcaa3;
  --backdrop: #000000de;
  color: white;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}